<a href="https://colab.research.google.com/github/abul158/Project/blob/master/DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd     #importing libraries

# STEP-1:

In [0]:
df=pd.read_csv('/content/drive/My Drive/case study/data_engineering_assignment.txt',error_bad_lines=False,sep='|')  #reading the data

b'Skipping line 231: expected 9 fields, saw 10\nSkipping line 238: expected 9 fields, saw 11\nSkipping line 14586: expected 9 fields, saw 11\nSkipping line 19227: expected 9 fields, saw 16\nSkipping line 38750: expected 9 fields, saw 10\nSkipping line 44376: expected 9 fields, saw 10\nSkipping line 53091: expected 9 fields, saw 16\nSkipping line 54199: expected 9 fields, saw 16\nSkipping line 60527: expected 9 fields, saw 11\nSkipping line 64070: expected 9 fields, saw 11\n'
b'Skipping line 74409: expected 9 fields, saw 10\nSkipping line 74807: expected 9 fields, saw 13\nSkipping line 80508: expected 9 fields, saw 16\nSkipping line 95599: expected 9 fields, saw 10\nSkipping line 96440: expected 9 fields, saw 10\nSkipping line 106464: expected 9 fields, saw 11\nSkipping line 106631: expected 9 fields, saw 10\nSkipping line 109119: expected 9 fields, saw 10\nSkipping line 125056: expected 9 fields, saw 10\nSkipping line 126747: expected 9 fields, saw 11\nSkipping line 127291: expected 9 fields, saw 10\nSkipping line 127880: expected 9 fields, saw 11\nSkipping line 128347: expected 9 fields, saw 11\nSkipping line 128418: expected 9 fields, saw 10\nSkipping line 129263: expected 9 fields, saw 11\nSkipping line 129544: expected 9 fields, saw 11\nSkipping line 130044: expected 9 fields, saw 11\nSkipping line 130101: expected 9 fields, saw 11\nSkipping line 131175: expected 9 fields, saw 11\nSkipping line 131419: expected 9 fields, saw 11\nSkipping line 131806: expected 9 fields, saw 11\n'
b'Skipping line 133103: expected 9 fields, saw 11\nSkipping line 135398: expected 9 fields, saw 11\nSkipping line 135981: expected 9 fields, saw 11\nSkipping line 136797: expected 9 fields, saw 11\nSkipping line 137686: expected 9 fields, saw 11\nSkipping line 137968: expected 9 fields, saw 11\nSkipping line 138023: expected 9 fields, saw 11\nSkipping line 138520: expected 9 fields, saw 11\nSkipping line 138870: expected 9 fields, saw 11\nSkipping line 138990: expected 9 fields, saw 10\nSkipping line 140354: expected 9 fields, saw 11\nSkipping line 142903: expected 9 fields, saw 10\nSkipping line 143032: expected 9 fields, saw 11\nSkipping line 143048: expected 9 fields, saw 11\nSkipping line 144096: expected 9 fields, saw 11\nSkipping line 144975: expected 9 fields, saw 11\nSkipping line 146503: expected 9 fields, saw 11\nSkipping line 146903: expected 9 fields, saw 11\nSkipping line 147101: expected 9 fields, saw 11\nSkipping line 149439: expected 9 fields, saw 11\nSkipping line 149608: expected 9 fields, saw 11\nSkipping line 150964: expected 9 fields, saw 10\nSkipping line 151278: expected 9 fields, saw 10\nSkipping line 152561: expected 9 fields, saw 11\nSkipping line 152600: expected 9 fields, saw 11\nSkipping line 153154: expected 9 fields, saw 11\nSkipping line 153742: expected 9 fields, saw 11\nSkipping line 156089: expected 9 fields, saw 11\nSkipping line 156416: expected 9 fields, saw 11\nSkipping line 156667: expected 9 fields, saw 11\nSkipping line 157018: expected 9 fields, saw 11\nSkipping line 157834: expected 9 fields, saw 11\nSkipping line 158043: expected 9 fields, saw 10\nSkipping line 158173: expected 9 fields, saw 11\nSkipping line 158381: expected 9 fields, saw 11\nSkipping line 159424: expected 9 fields, saw 11\nSkipping line 159634: expected 9 fields, saw 11\nSkipping line 160710: expected 9 fields, saw 11\nSkipping line 161302: expected 9 fields, saw 11\nSkipping line 161910: expected 9 fields, saw 11\nSkipping line 163029: expected 9 fields, saw 11\nSkipping line 163900: expected 9 fields, saw 11\nSkipping line 164355: expected 9 fields, saw 11\nSkipping line 164689: expected 9 fields, saw 11\nSkipping line 168172: expected 9 fields, saw 11\nSkipping line 168993: expected 9 fields, saw 11\nSkipping line 170853: expected 9 fields, saw 11\nSkipping line 173149: expected 9 fields, saw 11\nSkipping line 176228: expected 9 fields, saw 11\nSkipping line 177351: expected 9 fields, saw 11\nSkipping line 179925: expected 9 fields, saw 11\nSkipping line 181134: expected 9 fields, saw 11\nSkipping line 181941: expected 9 fields, saw 11\nSkipping line 182703: expected 9 fields, saw 11\nSkipping line 183624: expected 9 fields, saw 11\nSkipping line 185858: expected 9 fields, saw 10\nSkipping line 187759: expected 9 fields, saw 11\nSkipping line 188448: expected 9 fields, saw 11\nSkipping line 188667: expected 9 fields, saw 11\nSkipping line 188784: expected 9 fields, saw 11\nSkipping line 188785: expected 9 fields, saw 11\nSkipping line 189290: expected 9 fields, saw 11\nSkipping line 189600: expected 9 fields, saw 18\nSkipping line 190423: expected 9 fields, saw 11\nSkipping line 190860: expected 9 fields, saw 11\nSkipping line 193268: expected 9 fields, saw 11\nSkipping line 193395: expected 9 fields, saw 10\nSkipping line 194555: expected 9 fields, saw 11\nSkipping line 196683: expected 9 fields, saw 11\nSkipping line 197201: expected 9 fields, saw 11\n'
b'Skipping line 200533: expected 9 fields, saw 11\nSkipping line 201104: expected 9 fields, saw 11\nSkipping line 201576: expected 9 fields, saw 11\nSkipping line 201640: expected 9 fields, saw 10\nSkipping line 204189: expected 9 fields, saw 11\nSkipping line 205347: expected 9 fields, saw 11\nSkipping line 205438: expected 9 fields, saw 11\nSkipping line 208860: expected 9 fields, saw 11\nSkipping line 209048: expected 9 fields, saw 10\nSkipping line 209232: expected 9 fields, saw 11\nSkipping line 211084: expected 9 fields, saw 10\nSkipping line 211322: expected 9 fields, saw 11\nSkipping line 211763: expected 9 fields, saw 11\nSkipping line 211934: expected 9 fields, saw 11\nSkipping line 212033: expected 9 fields, saw 11\nSkipping line 212465: expected 9 fields, saw 11\nSkipping line 212658: expected 9 fields, saw 11\nSkipping line 215701: expected 9 fields, saw 11\nSkipping line 216698: expected 9 fields, saw 11\nSkipping line 217029: expected 9 fields, saw 11\nSkipping line 217378: expected 9 fields, saw 11\nSkipping line 219575: expected 9 fields, saw 11\nSkipping line 219847: expected 9 fields, saw 11\nSkipping line 220503: expected 9 fields, saw 11\nSkipping line 220523: expected 9 fields, saw 11\nSkipping line 222602: expected 9 fields, saw 11\nSkipping line 222656: expected 9 fields, saw 11\nSkipping line 224105: expected 9 fields, saw 11\nSkipping line 226170: expected 9 fields, saw 11\nSkipping line 227436: expected 9 fields, saw 11\nSkipping line 228045: expected 9 fields, saw 11\nSkipping line 228193: expected 9 fields, saw 11\nSkipping line 228745: expected 9 fields, saw 11\nSkipping line 228892: expected 9 fields, saw 11\nSkipping line 229844: expected 9 fields, saw 11\nSkipping line 231181: expected 9 fields, saw 11\nSkipping line 232479: expected 9 fields, saw 11\nSkipping line 232532: expected 9 fields, saw 11\nSkipping line 239275: expected 9 fields, saw 10\n'
b'Skipping line 281100: expected 9 fields, saw 10\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.shape #checking the number of rows and columns

(323441, 9)

In [0]:
df.info() # checking the info of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323441 entries, 0 to 323440
Data columns (total 9 columns):
_id                 323441 non-null object
name                318278 non-null object
price               318278 non-null object
website_id          318278 non-null object
sku                 317865 non-null object
url                 318278 non-null object
brand               318278 non-null object
media               318278 non-null object
description_text    317810 non-null object
dtypes: object(9)
memory usage: 22.2+ MB

# STEP-2:

In [0]:
df.dropna(inplace=True) #dropping null values

In [0]:
df.shape #checking the dimensions after dropping

(317397, 9)

# STEP-3:

In [0]:
def unpack(s):
  a=[]
  for i in range(0,len(s)):         #creating function for unpacking the strings in the column into dict form
    x=eval(s.iloc[i])
    a.append(x)
  return a

# STEP-4 & STEP-5:

In [0]:
price=pd.DataFrame(unpack(df.price)) #unpacking and making dataframe of price

In [0]:
price.columns                        #keys present in price column

Index(['offer_price', 'regular_price', 'basket_price'], dtype='object')

In [0]:
offer_price=pd.DataFrame(list(price['offer_price']))         #creating columns for eack key in the price column

In [0]:
regular_price=pd.DataFrame(list(price['regular_price']))

In [0]:
offer_price.isnull().sum()

currency      0
value       331
dtype: int64

In [0]:
basket_price=pd.DataFrame(list(price['basket_price']))

In [0]:
df.columns

Index(['_id', 'name', 'price', 'website_id', 'sku', 'url', 'brand', 'media',
       'description_text'],
      dtype='object')

# STEP-6:

In [0]:
brand=pd.DataFrame(unpack(df.brand))     
#converting brand which is in string datatype to dictionary to create individual variables

In [0]:
brand.head()

           name sub_brand
0        joules
1     figleaves
2          nike
3          next
4  river island

In [0]:
brand.name.replace('','NA',inplace=True)    #Replacing blank observations with 'NA' (i.e) Not Available

In [0]:
media=pd.DataFrame(unpack(df.media))  
#Unpacking string variable into dictionary to form individual columns for every variables inside dictionary

# ADDITIONAL STEPS:

In [0]:
a=media.standard

In [0]:
a

0         [{'order': 1, 'url': 'https://xcdn.next.co.uk/...
1         [{'order': 1, 'url': 'https://xcdn.next.co.uk/...
2         [{'order': 1, 'url': 'https://xcdn.next.co.uk/...
3         [{'order': 1, 'url': 'https://xcdn.next.co.uk/...
4         [{'order': 1, 'url': 'https://xcdn.next.co.uk/...
                                ...
317392    [{'order': 1, 'url': 'https://images.asos-medi...
317393    [{'order': 1, 'url': 'https://images.asos-medi...
317394    [{'order': 1, 'url': 'https://images.asos-medi...
317395    [{'order': 1, 'url': 'https://images.asos-medi...
317396    [{'order': 1, 'url': 'https://images.asos-medi...
Name: standard, Length: 317397, dtype: object

In [0]:
xy = pd.DataFrame(a)
new=xy['standard'].apply(pd.Series )
new

                                                        0  ...   40
0       {'order': 1, 'url': 'https://xcdn.next.co.uk/C...  ...  NaN
1       {'order': 1, 'url': 'https://xcdn.next.co.uk/C...  ...  NaN
2       {'order': 1, 'url': 'https://xcdn.next.co.uk/C...  ...  NaN
3       {'order': 1, 'url': 'https://xcdn.next.co.uk/C...  ...  NaN
4       {'order': 1, 'url': 'https://xcdn.next.co.uk/C...  ...  NaN
...                                                   ...  ...  ...
317392  {'order': 1, 'url': 'https://images.asos-media...  ...  NaN
317393  {'order': 1, 'url': 'https://images.asos-media...  ...  NaN
317394  {'order': 1, 'url': 'https://images.asos-media...  ...  NaN
317395  {'order': 1, 'url': 'https://images.asos-media...  ...  NaN
317396  {'order': 1, 'url': 'https://images.asos-media...  ...  NaN

[317397 rows x 41 columns]

In [0]:

ord=[]
for i in range(0,41):
  order=pd.DataFrame(dict(new[i])).T
  ord.append(order)

In [0]:
stan=pd.concat(ord)

In [0]:
#stan.to_csv('/content/drive/My Drive/case study/oredr.csv')

In [0]:
(stan['order'].groupby(stan.index).sum()).argmax()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

151095

In [0]:
new.loc[123678]

0     {'order': 1, 'url': 'https://cdn-images.farfet...
1     {'order': 2, 'url': 'https://cdn-images.farfet...
2     {'order': 3, 'url': 'https://cdn-images.farfet...
3     {'order': 4, 'url': 'https://cdn-images.farfet...
4     {'order': 5, 'url': 'https://cdn-images.farfet...
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                                  NaN
33                                                  NaN
34                                                  NaN
35                                                  NaN
36                                                  NaN
37                                                  NaN
38                                                  NaN
39                                                  NaN
40                                                  NaN
Name: 123678, dtype: object

# STEP-7:

In [0]:
num=[]
for i in range(0,len(media.standard)):
  y=len(media.standard.iloc[i])
  num.append(y)

len(num)

317397

In [0]:
df.columns

Index(['_id', 'name', 'price', 'website_id', 'sku', 'url', 'brand', 'media',
       'description_text'],
      dtype='object')

# STEP-8:

In [0]:
col=['_id','name','url','description_text']
df1=df[col]
df1.head()

                        _id  ...                                   description_text
0  5d0b8aca0db7220b86cb4035  ...                           95% Cotton, 5% Elastane.
1  5d0b8aca0db7220b86cb4036  ...                                    100% Polyester.
2  5d0b8aca0db7220b86cb4037  ...  Nike Swim Boys' Solid Lap 4 Volley Short is a ...
3  5d0b8aca0db7220b86cb4038  ...                                        Height 85cm
4  5d0b8aca0db7220b86cb4039  ...                                    100% Polyester.

[5 rows x 4 columns]

In [0]:
df1=pd.merge(df1,regular_price,left_index=True,right_index=True)

In [0]:
df1=pd.merge(df1,offer_price,left_index=True,right_index=True,suffixes=('_regular','_offer'))

In [0]:
df1=pd.merge(df1,brand.name,left_index=True,right_index=True)

In [0]:
df1=pd.merge(df1,media.standard,left_index=True,right_index=True)

In [0]:
num=[]
for i in range(0,len(df1.standard)):
  y=len(df1.standard.iloc[i])
  num.append(y)

df1['num_of_orders']=num

In [0]:
df1.drop('standard',axis=1,inplace=True)

In [0]:
df1.head()

                        _id  ... num_of_orders
0  5d0b8aca0db7220b86cb4035  ...             1
1  5d0b8aca0db7220b86cb4036  ...             1
2  5d0b8aca0db7220b86cb4037  ...             1
3  5d0b8aca0db7220b86cb4038  ...             1
4  5d0b8aca0db7220b86cb4039  ...             1

[5 rows x 10 columns]

In [0]:
df1.drop('currency_offer',axis=1,inplace=True)

In [0]:
df1.columns

Index(['_id', 'name_x', 'url', 'description_text', 'currency_regular',
       'value_regular', 'value_offer', 'name_y', 'num_of_orders'],
      dtype='object')

In [0]:
df1=df1.rename(columns={'name_y':'brand_name','currency_regular':'currency','value_regular':'regular_price','value_offer':'offer_price','name_x':'name'})

In [0]:
cols=['_id', 'name','brand_name', 'num_of_orders','currency', 'regular_price','offer_price','url', 'description_text']
df1=df1.reindex(columns=cols)

# STEP-9:

In [0]:
#df1.to_csv('/content/drive/My Drive/case study/clothing.csv')

In [0]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311429 entries, 0 to 317396
Data columns (total 9 columns):
_id                 311429 non-null object
name                311429 non-null object
brand_name          311429 non-null object
num_of_orders       311429 non-null int64
currency            311429 non-null object
regular_price       311113 non-null float64
offer_price         311113 non-null float64
url                 311429 non-null object
description_text    311429 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 23.8+ MB

DESCRIPTION:

In this dataset, We have lot to clean each and every step of cleaning is explained below clearly:     
STEP 1:   
importing a csv file using error_bad_lines because there are some bad lines in data.          
STEP 2:                 
Dropping null value observations.            
NOTE:                  
Variables price,media and brand are in string format but contains dictionaries.So,A function is used to unpack it to dictionary datatype                
STEP 3:                 
Creating a function named unpack and executing it         
STEP 4:                    
Creating a newframe from price dictionary using keys as variables        
STEP 5:
Above created Dataframe again contains Regular price,Offer price and basket price as different dictionaries.
So each dictionary is made into a dataframe.           
STEP 6:                  
Brand and media are unpacked and converted into dataframes same as STEP3 and STEP 4.           
STEP 7:                    
In media,there is a variable named standard in which there are list of  dictionaries of order number and urls.
length of list had been taken as number of order values.            
STEP 8:
All the dataframes are combined using merge and final cleaned dataset had been created.           
STEP 9:           
Exporting the cleaned dataset to clothing.csv



  '`Now the dataset is ready for visualization analysis`'